{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="group-teaching-techniques">Group teaching techniques</h1>
<p>Have a gander at <a href="http://gsi.berkeley.edu/gsi-guide-contents/discussion-intro/group-techniques/">this guide to group teaching techniques</a>, on Berkeley's GSI resources site. Pick two methods of facilitating group work that were mentioned in the article. Write up examples of each method being used in a CS class (other than 370) that you've taken, one paragraph for each method. Make sure you include all relevant context, like which class and topic, whether it was lecture or discussion, etc. Was the group teaching technique effective? Why or why not?</p>
<p>Then read <a href="http://gsi.berkeley.edu/gsi-guide-contents/discussion-intro/group-guidelines/">this article</a>, which analyzes group work and all the advantages and disadvantages of certain ways to present problems. What is the most useful thing you learned from the reading? How can you apply it to your own teaching?</p>
<h1 id="teaching-to-a-non-uniform-distribution">Teaching to a non-uniform distribution</h1>
<p>Imagine you're a TA. Your discussion section has students at varying levels of understanding in the course material. Some people are struggling (0-25%), some people are really far ahead (75-100%), and most of the class is in the middle (25-50% and 50-75%). Who do you teach to?</p>
<p>Cast a vote in the poll pinned at the top of the #group-teaching channel on Slack. Then make two posts of your own in the same channel:</p>
<ul>
<li>Your first post should explain in 1-3 paragraphs why you voted as you did. What's your reasoning? Can you think of any creative ways to address the problem? How do we get around it? Please try to make this post before the middle of the week, so others have time to respond to it.</li>
<li>Also post a followup to another student's response, agreeing, disputing, or commenting on their answer.</li>
</ul>
<p>Try to post as early as you can, so that other students have a chance to engage with what you have to say about the topic. And of course, feel free to post multiple responses / followups too! The goal is to have a lively, productive discussion on Piazza.</p>

{% endblock %}

