{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="peer-shadowing">Peer shadowing</h1>
<p>This week you'll be shadowing one of your peers in this class! This is time sensitive and requires some set-up, so please read through all the rules now.</p>
<h2 id="when-youre-signing-up-to-shadow">When you're signing up to shadow</h2>
<ul>
<li>Sign up to shadow one of your peers on <a href="{{ PEER_SHADOWING_1 }}">this form</a>. Each person will shadow one other person, and each person will be shadowed once. It might make things easier to partner up with someone — that is, you shadow one of their sections, and they shadow one of your sections. If you sign up to shadow someone who has already scheduled their appointments, make sure you can actually make the appointment time! You may also choose to shadow someone's CSM section</li>
<li>After you have picked someone to shadow, sign up for the specific appointment of theirs that you'll be attending.<ul>
<li>On the weekly tutoring form, find the appointment that you'll be shadowing and write your name in the "Shadow" column. Let the tutor know, as soon as you do.</li>
<li>Mark the place and time on your calendar! Do not forget about the appointment you're shadowing!</li>
<li>Once everything is final, update the time and place on the shadowing sign-up form too.</li>
<li>If you sign up to shadow a 2-hour appointment, you are not required to stay the full time. I suggest doing so to get a complete picture of your peer's teaching, but I will not mandate more than 1 hour of shadowing.</li>
</ul>
</li>
</ul>
<h2 id="when-youre-making-appointments">When you're making appointments</h2>
<ul>
<li>If someone will be shadowing one of your sections, let your student know in advance! It's important that they know what's going on, before they show up.</li>
<li>Please keep the weekly tutoring form up to date! In particular, keep the "Time &amp; Place" column up to date, so anyone who wants to shadow that section can do so!</li>
</ul>
<h2 id="when-youre-shadowing">When you're shadowing</h2>
<ul>
<li>Your job is to introduce yourself briefly at the beginning of the session. For example: "Hi, I'm Sequoia and I'll be observing your tutor Bryan today."</li>
<li>You are under no circumstances to talk to the tutor or the student whatsoever during the session. Do not influence the session in any way.</li>
<li>Write up a page or two worth of notes about how the section went. Pay attention to how they explain concepts or walk through problems, how they interact with the student, what you think they did really well or what you would have done in their place, etc. Also pay attention to how the appointment is structured, as well as the way the student reacts and learns during the process. In the back of your mind, think about what we have learned regarding the growth mindset and the survey of learning research that was presented in class.</li>
<li>When you finish, convert your notes into a review of the tutoring session. There's no specific format: free-form, bullet list, etc are all fine. Submit it on bCourses like usual. You do not have to disclose your review to the person you shadowed, unless you want to do so.</li>
</ul>
<h1 id="questions-for-our-guest-speaker">Questions for our guest speaker</h1>
<p>Next week we will have a guest speaker from faculty! In the #guest-speaker channel on Slack, come up with a few questions that you might like to ask them.</p>

{% endblock %}
