{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="revisiting-the-growth-mindset">Revisiting the growth mindset</h1>
<p>In last week's lecture we talked about setting goals with your students. Specifically, we surveyed what makes a good goal, how to foster authentic motivation, and the role of hope in student success. In about a page, talk about how these ideas relate to the growth mindset. Specifically, how can we encourage a growth mindset using the goals that you set with your students? How does motivation — and in particular, the source of a student's motivation — relate to their learning mindset?</p>
<h1 id="the-flipped-classroom">The flipped classroom</h1>
<p>In the same way we introduced guerrilla sections as a novel way to teach discussion, we want to introduce you to the flipped classroom format as a novel way to teach lecture. Plenty of folks (including Josh Hug) have experimented with this new way of teaching CS, and it's worth thinking carefully about in order to get a broader picture of what sorts of experiments are being done at the forefront of classroom design.
Read these two articles:</p>
<ul>
<li><a href="http://www.wired.com/insights/2014/10/rethinking-the-lecture/">Rethinking the Lecture: In the Information Age, it’s Time to Flip the Classroom</a></li>
<li><a href="http://www.ascd.org/publications/educational-leadership/mar13/vol70/num06/Evidence-on-Flipped-Classrooms-Is-Still-Coming-In.aspx">Evidence on Flipped Classrooms is Still Coming in</a></li>
</ul>
<p>Also read one of the following. (Or both! I'm not the boss of you.)</p>
<ul>
<li><a href="https://www.cs.princeton.edu/news/%E2%80%98computer-science-all%E2%80%99-really">Computer Science for All (Really)</a></li>
<li><a href="http://www.thecrimson.com/article/2013/4/24/flipped-classrooms-computer-science/?page=single">Computer Science Professors Experiment with Flipped Classrooms</a></li>
</ul>
<p>Then, in at least a page, answer these questions:</p>
<ul>
<li>What is the flipped classroom format?</li>
<li>Why would you want to do it? What are your thoughts about it?</li>
<li>What are some advantages and disadvantages to this format?</li>
<li>In particular, are there any hopes and / or skepticisms that you hold about this method of teaching?</li>
<li>How do you think it could be applied to CS 61A, CS 61B, or CS 61C? Do you think it would work well? Why or why not?</li>
</ul>

{% endblock %}
