{% extends 'base.html' %}

{% block head %}
{{ include.static_css(('text',)) }}
{% endblock %}

{% block content %}
<div id="title">
  <p class="title">{{ CLASS_CODE }}: {{ CLASS_NAME }}</p>
  <hr/>
  <subtitle>
    {{ INSTRUCTOR }}
    <span style="float: right; padding-left: 1rem;">{{ TERM }} {{ YEAR }}</span>
  </subtitle>
</div>
<br/><br/>
TESTING
<table id="calendar" class="table" cellpadding="5px">
  <tbody>
    <tr>
      <th>Topic</th>
      <th>Reading</th>
      <th>Homework</th>
      <th>Journal Prompt</th>
    </tr>
    {% for week in WEEKS %}
      <td>{{ week.title }}</td>
      <td><a href="{{ url_for(week.resources['readings']) }}">test</a></td>
      <td><a href="{{ url_for(week.resources['homework']) }}">test</a></td>
      <td><a href="{{ url_for(week.resources['journal']) }}">test</a></td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
