{% extends 'base.html' %}

{% block head %}
{{ include.static_css(('text',)) }}
{% endblock %}

{% block content %}
<div id="title">
  <p class="title">{{ CLASS_CODE }}: {{ CLASS_NAME }}</p>
  <hr/>
  <subtitle>
    {{ INSTRUCTOR }}
    <span style="float: right; padding-left: 1rem;">{{ TERM }} {{ YEAR }}</span>
  </subtitle>
</div>
<br/><br/>
TESTING
<table id="calendar" class="table" cellpadding="5px">
  <tbody>
    <tr>
      <th>Topic</th>
      <th>Reading</th>
      <th>Homework</th>
      <th>Journal Prompt</th>
    </tr>
    {% for week in WEEKS %}
      <tr>
        <td>{{ week.title }}</td>
        {% for type in RESOURCE_TYPES %}
          <td>
            {% if week.resources[type] %}
              <a href="{{ url_for(week.resources[type]) }}">test</a>
            {% else %}
              Nada
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
