<h1 id="journal-prompt">Journal prompt</h1>

<p>
  After each appointment this week (discussion, group tutoring, or one-on-one tutoring) respond to the following prompts in the  #journal-{{ week.number }} channel on Slack.
</p>

<ul>
  <li>Briefly summarize the appointment. (For example: How do you feel about it? Do you think the student was following? What signs let you pick up on this? What could you have done better? etc.)</li>
</ul>

{{ CONTENT-0 }}

<p>
  Then take the time to read some of your peers' responses too, and reply to at least two of them. Lend something productive and insightful to the conversation. (For example, talk about what you would've done differently in their position, or whether you're going to adapt something similar for your own lessons. Maybe ask them something about their appointment, etc.)
</p>
