{% extends 'base.html' %}

{% block head %}
{{ include.static_css(('resource',)) }}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<h1 id="file-id">{{ file.title() }}</h1>

<hr/>

<h1 id="mission">Mission</h1>
<p>Welcome to {{ CLASS_CODE }}! This course is designed to help aspiring teachers hone their skills, and become a part of the teaching community here at UC Berkeley. Students in this class will receive first-hand pedagogical training and research-based theoretical foundation important for communicating ideas in CS and building diverse, inclusive classrooms.</p>
<p>{{ CLASS_CODE }} is divided into three parts. First, we will talk about how students learn and how to interact with them in a one-on-one setting. This is applicable not only to lab assistants and tutors, but also TA's, since it is one-on-one interaction is a critical component of all teaching. Second we will cover group teaching, which is important to master in order to become a successful tutor or TA. Last of all we will discuss current issues in CS pedagogy, including underrepresentation, stigmas associated with computer science, the issue of prior experience, and how these factors influence student learning.</p>
<h1 id="slack">Slack</h1>
<p><a href="{{ SLACK_INVITE }}">Join the {{ CLASS_CODE }} Slack by visiting this link!</a> Then read through the sections below.</p>
<h2 id="making-your-account">Making your account</h2>
<p>To edit your information at any time, click your name and then "edit your profile". Please adhere to the following standards:</p>
<ul>
<li>[Required] Full name: Your first and last name, with proper capitalization.</li>
<li>[Optional] Display name: Your first name or preferred name, if you'd rather not go by your full name.</li>
</ul>
<h2 id="staying-up-to-date">Staying up-to-date</h2>
<p>First and foremost, it is your responsibility to stay up-to-date with Slack. That means you should check it often, daily at the least. This is because I will release all time-sensitive announcements via Slack throughout the semester. Some homework assignments will also require you to post on Slack.</p>
<p>To make it easy for you to stay up-to-date with Slack, I strongly recommend <a href="https://slack.com/downloads/">installing the Slack app</a> on your computer and perhaps even your phone. You will want to do this anyways, since every course staff relies heavily on Slack.</p>
<h2 id="notifications">Notifications</h2>
<p>Since there are very many people in this class, you will likely want to adjust your notification settings so that you don't get alerted every time someone makes a post on Slack. You can do this by clicking on the workspace name ("{{ CLASS_CODE }}: {{ TERM }} {{ YEAR }}") and then selecting "Preferences". Under the "Notifications" tab, select "Direct messages, mentions, &amp; keywords." Importantly, <strong>do not</strong> select "Nothing", which would completely turn off notifications. That would be against class policy, since you must be aware of time-sensitive announcements that I make.</p>
<h2 id="channels">Channels</h2>
<p>There are a few channels on our Slack. Please respect the purpose of each one.</p>
<ul>
<li><strong>#general:</strong> I will post logistical announcements in this channel. You should not make any posts here, but please reply to the announcements I make if you have any questions, comments, or concerns about them.</li>
<li><strong>#random:</strong> Write anything you want in this channel. Whether you want to share a funny video, schedule an impromptu dinner, or just chat with your peers, feel free and welcome! The only requirement is that you are respectful of your peers.</li>
<li><strong>#homework:</strong> Use this channel for questions, comments, or concerns about the homework. You can also bounce ideas off one another in this channel if you want to share or collaboratively develop ideas relevant to the homework. (Oh, and your activity this channel counts for participation credit!)</li>
<li><strong>#tutoring:</strong> Use this channel for questions, comments, or concerns about tutoring and tutoring journals. Want to share advice, or ask for input? Want to know how others approached teaching a certain topic? Or how folks are structuring their midterm-prep sessions? That's what this channel is here for.</li>
<li><strong>#pedagogy:</strong> Questions about teaching in general? Post here to ask advice from myself and your peers.</li>
<li><strong>#readings-n:</strong> Every week I'll make a new channel called something like #readings-1, #readings-2, etc. This is where you'll discuss the weekly readings.</li>
<li><strong>#meetup:</strong> If you join this channel, you will be paired up with someone else in {{ CLASS_CODE }} every week. This is your opportunity to get to know them better! Go out for boba, or maybe chat at lunch. You might find them to be a friend, study partner, or insightful co-teacher.</li>
<li><strong>And more:</strong> Everyone is welcome to start their own channels on Slack! Want to put together a CS 61B study group? Go ahead! Want to talk fun facts about Oregon? That's cool. Want to meet up for extracurriculars like dance? Or brainstorm a new logo for {{ CLASS_CODE }}? Go right ahead.</li>
</ul>
<h2 id="etiquette">Etiquette</h2>
<p>There is one rule: thread up! When you want to reply to someone, <strong>do not</strong> simply post your followup underneath theirs in the same channel. Rather, hover over their message and click "Reply to thread". (If you're on a phone, just click the message you want to reply to.) Then post your reponse as a reply to theirs. This keeps our Slack organized and easy to navigate for everyone. If you see someone forget to thread up, don't be shy about reminding them. Just be nice about it.</p>
<h2 id="personalization">Personalization</h2>
<p>Expression of individuality is welcome! Feel free to add a silly status, upload your own emoji, etc. The only rule is that you are respectful of your peers.</p>
<h1 id="bcourses">bCourses</h1>
<p>Visit <a href="{{ BCOURSES }}">the official CS 370 bCourses</a> to get set up. If you don't have access, contact Sequoia via Slack or email (sequoia@berkeley.edu) immediately.</p>
<p>It is your responsibility to stay up-to-date with bCourses and submit all your assignments on time.</p>
<h1 id="weekly-duties">Weekly duties</h1>
<p>In this class you will have a few responsibilities every week.</p>
<h2 id="readings">Readings</h2>
<p>All the readings are available on the main page. Each week, read at least one of the assigned readings and write about it in the appropriate channel (#readings-1, #readings-2, etc.) on Slack. This factors into your participation grade.</p>
<h2 id="homework">Homework</h2>
<p>Homework is released weekly on the main page. You will submit it on bCourses.</p>
<h2 id="tutoring">Tutoring</h2>
<p>This is arguably your most important commitment for CS 370. Your requirement is as follows:</p>
<ul>
<li>If you are a TA, then you need to have {{ WEEKS_OF_TUTORING * TUTORING_HOURS_PER_WEEK_TA }} hours of CSM / tutoring by the end of the semester. This translates to about {{ TUTORING_HOURS_PER_WEEK_TA }} hours of CSM / tutoring per week.</li>
<li>If you are not a TA, then you need to have {{ WEEKS_OF_TUTORING * TUTORING_HOURS_PER_WEEK }} hours of CSM / tutoring by the end of the semester. This translates to about {{ TUTORING_HOURS_PER_WEEK }} hours of CSM / tutoring per week.</li>
</ul>
<p>There are two activities that count toward your CS 370 teaching requirement:</p>
<ul>
<li>First of all, there's  teaching CSM. Note that we calculate your CSM hours based off your official CSM job description. (For example, if your official CSM job description says you teach CSM 1 hour per week, for 10 weeks, then this contributes 10 hours in total toward your CS 370 teaching requirement.)</li>
<li>Second, there's tutoring offered via CS 370 itself. Every week I will publish a new tutoring assignment on the main page. At the top I will link a spreadsheet full of people who want tutoring. You can contact anyone on the spreadsheet who is available at a time convenient for you. After the appointment, be sure your student fills out <a href="{{ TUTORING_FEEDBACK }}">the tutoring feedback form</a>. <strong>If they don't, then you may not get credit for teaching them.</strong> Contact your students from the spreadsheet by Saturday at midnight.</li>
</ul>
<p>Regardless of whether you fulfill your requirement with CSM, CS 370 tutoring, or a mixture of the two, you must also keep a tutoring journal. Any time you spend teaching discussion, group tutoring, or one-on-one tutoring during the semester, you must catalogue it with a journal entry. New journal prompts are released weekly on the main page. You will submit your journal entries on bCourses, and then respond to at least two of your peers' responses too.</p>
<p>Some miscellaneous logistics:</p>
<ul>
<li>You are welcome and encouraged to surpass your CS 370 tutoring requirement. You'll become a better teacher, your students will appreciate it a lot, and it's a pretty solid way to get a recommendation from CS 370 staff when hiring rolls around.</li>
<li>Your appointments can be whatever length you want, but keep in mind that your students will tire quickly if you're teaching properly. I recommend appointments 1 hour or 1.5 hours in length.</li>
<li>You can only help students conceptually, and never with an assignment unless the assignment in question is already due.</li>
<li>Cancelled appointments and no-show appointments do not count toward your teaching requirement. In either event, you must contact someone else.</li>
</ul>
<p>If you have any questions about the CS 370 teaching requirement, ask them in the #tutoring channel on Slack.</p>
<h1 id="exceptions">Exceptions</h1>
<p>For exceptions or questions regarding course policy, contact Sequoia via Slack or email (sequoia@berkeley.edu).</p>
<h1 id="grading">Grading</h1>
<p>{{ CLASS_CODE }} is letter-graded. It is not curved and we will not release the grading bins. The rubric is as follows:</p>
<ul>
<li><strong>[30%] Participation and citizenship:</strong> Foremost this accounts for the frequency and quality of your participation during class. A second large factor is your activity on Slack. Lastly, this accounts for your attendance and timeliness submitting assignments. <strong>Participation is not graded lightly, as it is in most other classes.</strong></li>
<li><strong>[30%] Homework and tutoring journals:</strong> Your homework grade accounts for the insightfulness of your responses, which should be relevant to the weekly readings and lecture. You should build off of class material in new ways, using your own experiences to support your claims. Your tutoring journals grade accounts for the insightfulness of your self-reflection, which should include an evaluation of how you plan to improve, and a clear application of ideas from class. It also accounts for the usefulness of the feedback you provide to your peers.</li>
<li><strong>[15%] Tutoring feedback:</strong> This accounts for your demeanor, supportiveness, and knowledge of the course material, as well as how clearly you communicate and whether you provide the right level of guidance.</li>
<li><strong>[10%] Midterm exam:</strong> This accounts for the in-class midterm exam.</li>
<li><strong>[10%] Final exam:</strong> This accounts for the in-class final exam.</li>
<li><strong>[5%] Final project:</strong> This accounts for the final project, which will be released along with the last homework.</li>
</ul>

{% endblock %}
