{% extends 'base.html' %}

{% block head %}
{{ include.static_css(('resource',)) }}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<h1 id="file-id">{{ file.title() }}</h1>

<hr/>

<ul>
<li>see current syllabus</li>
<li>This class is designed to help aspiring teachers hone their skills, and furthermore to help them become a part of the teaching community at Berkeley. It provides pedagogical training and theoretical education important for communicating ideas in CS and building diverse, inclusive classrooms.</li>
</ul>
<h1 id="weekly-duties">Weekly duties</h1>
<h1 id="weekly-tutoring">Weekly tutoring</h1>
<h1 id="homework">Homework</h1>
<h1 id="grading">Grading</h1>

{% endblock %}
