{% extends 'base.html' %}

{% block head %}
{{ include.static_css(('resource',)) }}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<h1 id="file-id">{{ file.title() }}</h1>

<hr/>

<h1 id="mission">Mission</h1>
<p>{{ CLASS_CODE }} is designed to help aspiring teachers hone their skills, and become a part of the teaching community here at UC Berkeley. Students in this class will receive first-hand pedagogical training and theoretical foundation important for communicating ideas in CS and building diverse, inclusive classrooms.</p>
<h1 id="weekly-duties">Weekly duties</h1>
<p>In this class you will have a few responsibilities every week.</p>
<h2 id="readings-and-homework">Readings and homework</h2>
<p>Readings and homework are available on the main page. Complete the corresponding assignments by their indicated due dates.</p>
<h2 id="tutoring">Tutoring</h2>
<h1 id="slack">Slack</h1>
<p><a href="{{ SLACK_INVITE }}">Join the {{ CLASS_CODE }} Slack by visiting this link!</a> Then read through the sections below.</p>
<h2 id="staying-up-to-date">Staying up-to-date</h2>
<p>First and foremost, it is your responsibility to stay up-to-date with Slack. That means you should check it often, daily at the least. This is because I will release all time-sensitive announcements via Slack throughout the semester. Some homework assignments will also require you to post on Slack.</p>
<p>To make it easy for you to stay up-to-date with Slack, I strongly recommend <a href="https://slack.com/downloads/">installing the Slack app</a> on your computer and perhaps even your phone. You will want to do this anyways, since every course staff relies heavily on Slack.</p>
<h2 id="notifications">Notifications</h2>
<p>Since there are very many people in this class, you will likely want to adjust your notification settings so that you don't get alerted every time someone makes a post on Slack. You can do this by clicking on the workspace name ("{{ CLASS_CODE }}: {{ TERM }} {{ YEAR }}") and then selecting "Preferences". Under the "Notifications" tab, select "Direct messages, mentions, &amp; keywords." Importantly, <strong>do not</strong> select "Nothing", which would completely turn off notifications. That would be against class policy, since you must be aware of time-sensitive announcements that I make.</p>
<h2 id="channels">Channels</h2>
<p>There are a few channels on our Slack. Please respect the purpose of each one.</p>
<ul>
<li><strong>#general:</strong> I will post logistical announcements in this channel. You should not make any posts here, but please reply to the announcements I make if you have any questions, comments, or concerns about them.</li>
<li><strong>#random:</strong> Write anything you want in this channel. Whether you want to share a funny video, schedule an impromptu dinner, or just chat with your peers, feel free and welcome! The only requirement is that you are respectful of your peers.</li>
<li><strong>#homework:</strong> Use this channel for questions, comments, or concerns about the homework. You can also bounce ideas off one another in this channel if you want to share or collaboratively develop ideas relevant to the homework. (Oh, and your activity this channel counts for participation credit!)</li>
<li><strong>#tutoring:</strong> Use this channel for questions, comments, or concerns about tutoring and tutoring journals. Want to share advice, or ask for input? Want to know how others approached teaching a certain topic? Or how folks are structuring their midterm-prep sessions? That's what this channel is here for.</li>
<li><strong>#readings:</strong> Use this channel for questions, comments, or concerns about the readings. You can also discuss your relevant ideas here.</li>
<li><strong>#pedagogy:</strong> Questions about teaching in general? Post here to ask advice from myself and your peers.</li>
<li><strong>#meetup:</strong> If you join this channel, you will be paired up with someone else in {{ CLASS_CODE }} every week. This is your opportunity to get to know them better! Go out for boba, or maybe chat at lunch. You might find them to be a friend, study partner, or insightful co-teacher.</li>
<li><strong>And more:</strong> Everyone is welcome to start their own channels on Slack! Want to put together a CS 61B study group? Go ahead! Want to talk fun facts about Oregon? That's cool. Want to meet up for extracurriculars like dance? Or brainstorm a new logo for {{ CLASS_CODE }}? Go right ahead.</li>
</ul>
<h2 id="etiquette">Etiquette</h2>
<p>There is one rule: thread up! When you want to reply to someone, <strong>do not</strong> simply post your followup underneath theirs in the same channel. Rather, hover over their message and click "Reply to thread". (If you're on a phone, just click the message you want to reply to.) Then post your reponse as a reply to theirs. This keeps our Slack organized and easy to navigate for everyone. If you see someone forget to thread up, don't be shy about reminding them. Just be nice about it.</p>
<h1 id="exceptions">Exceptions</h1>
<p>For exceptions or questions regarding course policy, contact Sequoia via Slack or email (sequoia@berkeley.edu).</p>
<h1 id="grading">Grading</h1>
<ul>
<li>
<p>see Logistics.md</p>
</li>
<li>
<p>you MUST participate at least X times</p>
</li>
<li>
<p>from current  syllabus:</p>
</li>
</ul>
<blockquote>
<p><strong>CS 370 is not curved. We will not announce the grading bins or the grading rubric during or after the semester. Your grade is determined by the following factors, but may not be limited strictly thereto:</strong></p>
<p><strong>Total points: 600</strong></p>
<p><strong>Final exam: 60</strong></p>
<p><strong>Midterm: 60</strong></p>
<p><strong>Tutoring feedback: 240 Demeanor and supportiveness.Knowledge of the course material.Effectiveness of your communication.Providing the right level of guidance.</strong></p>
<p><strong>Tutoring journals: 90</strong> <strong>Reflection on how you can improve.Feedback to your peers.Homework: 90Relevance to the weekly readings and lectures.Discussion of new insights not brought up in class.Participation: 60Attendance.Contribution to discussion.Timeliness setting up weekly appointments.</strong></p>
</blockquote>

{% endblock %}
