{% extends 'resource.html' %}

{% block resource_content %}

{{ CONTENT }}

<h1 id="review-email">Review email</h1>

<p>
  After each of your appointments this week (discussion, group tutoring, and / or one-on-one tutoring) compose an email that includes the following points. Then send it to the student(s) who attended. Also include a copy in a document called "Review {{ week.number }}" in your homework folder.
</p>

<ul>
  <li>A recap of what you taught.</li>
  <li>Some resources you think your student(s) would benefit from studying. (Please consider carefully which resources you send them. In particular, what level of understanding do you want to target, and regarding what topics?) If you will see the same student(s) again, ask them to read and complete the relevant resources before then.</li>
  <li>A link to the feedback form: {{ TUTORING_FEEDBACK }}</li>
</ul>

<p>
  You should do this for any teaching appointment which you plan to count toward your <a href="{{ url_for('render_policies') }}#tutoring">weekly teaching requirement</a>.
</p>

{% endblock %}
