{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="read-our-policies">Read our policies</h1>
<p>Read through the entire <a href="{{ url_for('render_policies') }}">policies page</a>, since it is not very long. It'll help you get set up with Slack and bCourses. You'll use Slack to respond to the readings, as well as for some homework assignments. You'll use bCourses to submit homework and tutoring journals.</p>
<p>In particular, be sure familiarize yourself with <a href="{{ url_for('render_policies') }}#grading">the rubric</a>. Note the emphasis on participation and citizenship. This will be the most selective part of your grade, and to get a good score you'll have to contribute frequent, insightful comments in class, as well as on Slack and bCourses.</p>
<h1 id="introduce-yourself">Introduce yourself</h1>
<p>Take the time now to write a short (one paragraph or so) introduction for yourself, and post it in the #random channel on Slack. Also reply to at least two other folks, to get to know them a bit. You're going to be learning and working with about half the people who are in this class, and now is your chance to say hello to them!</p>
<p>Please also add a profile picture on Slack by clicking your name and then "edit your profile". This will make it easier for your classmates to remember you.</p>
<h1 id="case-study-on-the-socratic-method">Case study on the Socratic method</h1>
<p>Read <a href="http://www.garlikov.com/Soc_Meth.html">The Socratic Method: Teaching by Asking Instead of by Telling</a> and answer the following questions:</p>
<ol>
<li>Why was this exercise effective in this instance? List your reasons and provide supporting examples.</li>
<li>Could you apply this to your own teaching (lab assisting, tutoring, or discussion)? Is there anything that you would have to change in order to use this technique effectively in the context of your own teaching?</li>
<li>Along the same lines, what are some of the limitations of this method? What are some challenges to using this teaching technique in a different setting?</li>
</ol>

{% endblock %}
