{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="advice-for-first-timers">Advice for first-timers</h1>
<p>A long time ago, a <a href="https://hkn.eecs.berkeley.edu/coursesurveys/instructor/6335">master instructor</a> wrote down a few tips and tricks to remember at the beginning of the semester. Read <a href="https://docs.google.com/document/d/15roVBW_Tj3o-qvzt77lvcDmdly0WaZ6GRP_bRh61qAE/edit">So You Think You Can TA</a> and in a few paragraphs, answer these questions:</p>
<ul>
<li>Which parts resonate the most with you?</li>
<li>Do you recognize any of these techniques from TAs you've had in the past? How do you think they worked, from your perspective as a student?</li>
<li>Have you used any of these techniques in your teaching? Was it beneficial for your students?</li>
<li>What's are some things that are missing or inaccurate? What would you do differently?</li>
</ul>
<p>The original context was for summer TAs, but the advice applies to everyone who wants to teach sections with more than one student.</p>
<h1 id="the-tao-of-talc">The tao of TALC</h1>
<p><a href="http://www-inst.eecs.berkeley.edu/~cs375/sp10/resources/TheTaoOfTALC.pdf">The Tao of TALC</a> is a one-page guide that provides practical tips of being an effective teacher in a crowded office hour.</p>
<ul>
<li>Reflect on one thing you already do from this list. How has it worked out for you in the past? What circumstances is it best suited for? When should you not use it? Why?</li>
<li>Also reflect on one thing from this list that you could improve on, or want to try this week. What appeals to you about the technique? What circumstances is it best suited for, and why? How can you see yourself using it?</li>
</ul>

{% endblock %}

