{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="ta-shadowing">TA shadowing</h1>
<p>This week you'll be shadowing a TA's discussion section! This is time sensitive, so please read through the rules now.</p>
<h2 id="when-youre-signin-up-to-shadow">When you're signin up to shadow</h2>
<ul>
<li>Sign up to shadow a TA on <a href="{{ TA_SHADOWING }}">this form</a>. Sign up early for the discussion section you want.</li>
<li>Mark the place and time on your calendar! Do not forget about the appointment you're shadowing!</li>
<li>Some discussion sections are 60 minutes, long while some are 90 minutes long. Plan accordingly. If you are shadowing a 90 minute discussion section, you have to stay the entire time.</li>
<li>Please review this week's material in advance for the class that you are shadowing, so you can follow along with the discussion section. It should be readily available on the class' website.</li>
</ul>
<h2 id="when-youre-shadowing">When you're shadowing</h2>
<ul>
<li>Introduce yourself to the TA before the section starts, so they know who you are. This requires that you show up a tiny bit early to the section.</li>
<li>You are under no circumstances to talk to the TA or any of the students whatsoever during the section. Do not participate in the discussion section or influence it in any way.</li>
<li>While shadowing, write up a page or two worth of notes about how the section went. Here are some things for you to think about. You don't have to answer them explicitly, but try to at least consider each of these points, and include something about it in your write-up.<ul>
<li>How does the TA explain concepts or walk through problems? What techniques do you recognize?</li>
<li>How do they interact with the students?</li>
<li>What do they do really well? What would you have done in their place?</li>
<li>How do they structure the lesson?</li>
<li>How do they handle questions? What sort of questions do they ask, and why?</li>
<li>Do they use group work? In what circumstances, and why?</li>
<li>How do they balance lecture against practice? How do they manage their time?</li>
<li>Are the students engaged? How does the TA try to keep them busy?</li>
<li>How does the TA handle teaching to a section where some students know the material better than others? Do they focus on the middle of the distribution, cater to one end, or do they teach to everyone equally?</li>
</ul>
</li>
<li>When you finish, convert your notes into a review of the discussion session. There's no specific format: free-form, bullet list, etc are all fine. Put it in your homework folder. You do not have to disclose your review to the TA you shadowed, unless you want to do so.</li>
</ul>
<h1 id="exploring-bias-in-tech">Exploring bias in tech</h1>
<p>Choose an article from this week's readings, separate from the one that you're writing about to post in the #readings channel on Slack. Respond to your chosen article in detail (ideally 3 paragraphs or so). In the role of a TA, what ideas from this article could you apply to your teaching in to make a more inclusive learning environment? Come up with a list of 3 to 5 ways to promote a diverse mindset with your students and within your classroom. Provide your reasoning.</p>
<h1 id="teaching-cs-without-a-computer">Teaching CS without a computer</h1>
<p>Do some research on <a href="https://csunplugged.org/en/">CS Unplugged</a>, which is a program to teach computer science without computers. There's plenty of news about it, but <a href="http://www.slate.com/articles/technology/future_tense/2014/08/computer_science_unplugged_teaching_computational_thinking_without_computers.html">here's one article I particularly liked</a>.</p>
<ul>
<li>First analyze CS Unplugged through a pedagogical lense. What do you think about this program? How does it affect the way you teach computer science? How does it affect learning?</li>
<li>Then consider the implications for accessibility. How could CS Unplugged empower students hailing from low-opportunity backgrounds, to pursue computer science?</li>
</ul>
<p>Overall, what do you think this program is doing right or wrong? Do you support it, or are you against it?</p>
<h1 id="harvards-implicit-association-test">Harvard's implicit association test</h1>
<p>Read about <a href="https://implicit.harvard.edu/implicit/education.html">Project Implicit</a>, which is a Harvard initiative to raise awareness and combat unconscious bias. Then <a href="https://implicit.harvard.edu/implicit/selectatest.html">take one of Project Implicit's tests</a>. Each test is designed to investigate your unconscious biases relating to one of many stereotypes prevalent throughout our society.</p>
<p>The point of this exercise is not to identify yourself or anyone else as mysogynist, racist, etc. Rather, the point is to help you recognize your own unconscious biases so that you can consciously mitigate them while teaching.</p>
<p>When you're done with the test, reflect briefly on your experience taking it.</p>

{% if week.quiz %}
  <h1 id="quiz">Quiz</h1>
  <p>Complete <a href="{{ week.quiz }}">the short weekly quiz</a>.</p>
{% endif %}

{% endblock %}
