{% extends 'resource.html' %}

{% block resource_content %}

<p>
  Make a post in the #readings channel on Slack, discussing one of the following readings or responding to a post by one of your peers. You should lend something new and useful to the conversion. (For example you could explain how to apply something that you learned, or offer an argument for / against one of your peers' ideas. Any input is welcome, as long as it is original and respectful.)
</p>

<p>
  Also feel free to find a different article on your own, and respond to that instead of one of the readings. Just be sure to provide a link to it, so others can read it too.
</p>

<ul>
<li>
<p><a href="https://www.nytimes.com/2018/02/09/technology/facial-recognition-race-artificial-intelligence.html">A NY Times article on algorithmic accountability.</a> Also check out some of the other media it links to, including <a href="https://bits.blogs.nytimes.com/2015/07/01/google-photos-mistakenly-labels-black-people-gorillas/">an article on Google's misclassification of African Americans as gorillas</a> and <a href="https://www.ted.com/talks/joy_buolamwini_how_i_m_fighting_bias_in_algorithms">Joy Buolamwini's TED talk</a>.</p>
</li>
<li>
<p><a href="http://ncase.me/polygons/">An interactive model of diversity, by Vi Hart and Nicky Case.</a> Take a look at the links in the footer when you're done. They're very enlightening. Maybe also consider explaining this model to a Berkeley freshman. Does it overlook certain complexities present in the real world?</p>
</li>
<li>
<p><a href="https://greatergood.berkeley.edu/article/item/four_ways_teachers_can_reduce_implicit_bias">Tips from UC Berkeley's Greater Good Science Center on combatting unconscious bias.</a></p>
</li>
<li>
<p><a href="https://ctl.yale.edu/ImplicitBiasAwareness">Tips from Yale's Center for Teaching and Learning on combatting unconscious bias.</a></p>
</li>
<li>
<p>Some accounts of bias in college and indsutry:</p>
<ul>
<li><a href="http://www.dailycal.org/2013/11/15/gender-disparity-eecs-persists/">A video about sexism in the UC Berkeley EECS Department.</a></li>
<li><a href="https://medium.com/@alicezielinski/things-people-say-when-youre-a-blonde-engineer-at-mit-b85df3d7970e">A collection of sexist encounters in the lift of an MIT EECS student</a> and <a href="https://medium.com/@alicezielinski/afterword-mit-blonde-engineer-response-67dbd7d5fc2">her thoughtful, insightful followup post</a>.</li>
<li><a href="http://valleywag.gawker.com/this-is-why-there-arent-enough-women-in-tech-1221929631">A collection of sexist encounters collected from the comments of the article on "culture fit" linked below.</a></li>
<li><a href="https://medium.com/this-is-hard/the-other-side-of-diversity-1bb3de2f053e">A journey about identity and conformity in industry.</a></li>
</ul>
</li>
<li>
<p>Some articles on meritocracy in industry:</p>
<ul>
<li><a href="https://jocelyngoldfein.com/techs-meritocracy-problem-a6e5e0a56157">An essay on why the tech industry is not (yet) a meritocracy.</a></li>
<li><a href="https://www.npr.org/sections/alltechconsidered/2014/02/06/272646267/how-the-meritocracy-myth-affects-women-in-technology">An NPR article about the effects of the "meritocracy myth".</a></li>
<li><a href="https://www.wired.com/2013/11/silicon-valley-isnt-a-meritocracy-and-the-cult-of-the-entrepreneur-holds-people-back/">A WIRED article on the entrepreneurial narrative and the implications for the people who don't fit it.</a></li>
</ul>
</li>
<li>
<p><a href="https://readwrite.com/2014/09/02/women-in-computer-science-why-so-few/">An article on some (but far from all) of the issues perpetuating sexism in tech.</a></p>
</li>
<li>
<p><a href="http://valleywag.gawker.com/culture-fit-is-a-shitty-excuse-for-marginalizing-wome-1186914306">An article on the bias implicit in the "culture fit" criterion.</a> Check out some of the linked articles as well!</p>
</li>
<li>
<p>Some articles on how people are fighting bias in college and industry:</p>
<ul>
<li><a href="https://cs-kickstart.berkeley.edu">CS Kickstart at UC Berkeley.</a></li>
<li><a href="https://eecs.berkeley.edu/cs-scholars">CS Scholars at UC Berkeley.</a></li>
<li><a href="https://qz.com/192071/how-one-college-went-from-10-female-computer-science-majors-to-40/">An article on how Harvey Mudd College is promoting gender equality in computer science.</a></li>
<li><a href="http://www.code2040.org">The webstie for Code 2040.</a></li>
<li><a href="http://www.blackgirlscode.com">The website for Black Girls Code.</a></li>
<li><a href="http://www.hackthehood.org">The website for Hack the Hood.</a></li>
</ul>
</li>
</ul>

{% endblock %}
