* {
  font-family: 'Raleway', sans-serif;
}

p, a, a:hover, li {
  text-align: justify;
  font-size: 15pt;
  color: black;
}

strong {
  font-weight: 700;
}

::selection {
  background: #966d1c;
}

::-moz-selection {
  background: #966d1c;
}

.page {
  max-width: 780px;
  margin: 0 auto;
}

.center {
  text-align: center;
}
