.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #1e8511;
  z-index: 2;
}

.navbar a {
  padding: 15px 16px;
  text-decoration: none;
  font-size: 13pt;
  color: #ecf0f1;
}

.navbar a:first-child {
  float: left;
}

.navbar a:not(:first-child) {
  float: right;
}

.navbar .icon {
  display: none;
  font-size: 11pt;
}

.navbar a:hover {
  color: #ffffff;
}

@media screen and (max-width: 450px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    display: block;
    float: right;
  }
  .navbar.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive {
    float: none;
  }
  .navbar.responsive {
    display: block;
    text-align: left;
  }
  .navbar.responsive {
    position: relative;
    left: 0;
    width: 100vw;
    max-height: 50vh;
  }
}
