.title {
  display: inline;
  font-size: 20pt;
  font-weight: 500;
  color: black;
}

subtitle {
  font-size: 15pt;
  font-style: italic;
  color: black;
}

.header {
  display: inline;
  font-size: 30pt;
  font-weight: 500;
}

.footer p, .footer a {
  font-size: 8pt;
}
