{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="fixed-and-growth-mindsets">Fixed and growth mindsets</h1>
<p>Read these two articles:</p>
<ul>
<li><a href="http://www.ascd.org/publications/educational-leadership/oct07/vol65/num02/The-Perils-and-Promises-of-Praise.aspx">The Perils and Promises of Praise</a></li>
<li><a href="http://www.edweek.org/ew/articles/2015/09/23/carol-dweck-revisits-the-growth-mindset.html">Carol Dweck Revisits the Growth Mindset</a></li>
</ul>
<p>When you're teaching this week (lab assisting, tutoring, or holding office hours), keep these ideas at the back of your mind. Talk about one way that you promoted a growth mindset with a student. You could directly tell them about Dweck's education research, or you could more subtly emphasize the same ideas.</p>
<p>Then answer the following questions in about a page:</p>
<ul>
<li>Describe the fixed mindset. Describe the growth mindset. What are the key differences? How does each mindset affect a student's learning outcomes?</li>
<li>In what ways does Dweck suggest we prevent and combat a fixed mindset?</li>
<li>What differences and clarifications does Dweck emphasize in the second article?</li>
</ul>
<h1 id="fear-and-failure">Fear and failure</h1>
<p>This is a true story, but the class and the professor’s name will be kept secret for legal reasons. In one of our lower-division classes a few semesters ago, the professor offered students a "magic deal". He released a Google Form, where students could specify exact conditions under which they should be failed from the class. For example, you could say something like "If my final grade in the class is anything less than an A, then fail me." This way, the students would be able to retake the class with no penalty if they didn’t get the grade they wanted. At the end of the semester, significantly fewer people failed the class than in previous semesters. Why? What does this teach us about fear and failure? How could you apply this lesson to your teaching in a novel way?</p>

{% endblock %}

