{% extends 'resource.html' %}

{% block resource_content %}

<ul>
<li>
<p><a href="https://moodrmoo.files.wordpress.com/2014/10/why-dont-students-like-school.pdf">The third chapter of <em>Why Don't Students Like School?</em> starting on page 41.</a></p>
</li>
<li>
<p><a href="https://www.academicimpressions.com/how-to-encourage-academic-grit-and-a-growth-mindset-in-your-students/">An article on encouraging the growth mindset and academic grit.</a></p>
</li>
<li>
<p><a href="https://books.google.com/books/about/Mindset.html?id=fdjqz0TPL2wC&amp;printsec=frontcover&amp;source=kp_read_button#v=onepage&amp;q&amp;f=false">Carol Dweck's <em>Mindset: The New Psychology of Success</em>, which spearheaded the philosophy of the growth mindset.</a></p>
</li>
<li>
<p><a href="https://moodrmoo.files.wordpress.com/2014/10/why-dont-students-like-school.pdf">The eighth chapter of <em>Why Don't Students Like School?</em> starting on page 131.</a></p>
</li>
</ul>

{% endblock %}
