{% extends 'resource.html' %}

{% block resource_content %}

<p>
  By the end of this tutoring cycle, you should have completed about {{ TUTORING_HOURS_PER_WEEK_TA * week.index if SUNDAY_OF_BREAK_WEEK and week.date < SUNDAY_OF_BREAK_WEEK else TUTORING_HOURS_PER_WEEK_TA * (week.index - 1) }} hours of tutoring / CSM if you're a TA, or about {{ TUTORING_HOURS_PER_WEEK * week.index if SUNDAY_OF_BREAK_WEEK and week.date < SUNDAY_OF_BREAK_WEEK else TUTORING_HOURS_PER_WEEK * (week.index - 1) }} hours of tutoring / CSM if you're not a TA.
</p>

<p>
  Here's the tutoring sign-up form for this week: <a href="{{ week.signup }}">{{ week.signup }}</a>.
</p>

<h1 id="assignment">Assignment</h1>

<ul>
<li>Be especially vigilant of your unconscious biases while tutoring this week.</li>
</ul>

<h1 id="journal-prompt">Journal prompt</h1>

<p>
  After each appointment this week (discussion, group tutoring, or one-on-one tutoring) respond to the following prompts in the  #journal-{{ week.number }} channel on Slack.
</p>

<ul>
  <li>Briefly summarize the appointment. (For example: How do you feel about it? Do you think the student was following? What signs let you pick up on this? What could you have done better? etc.)</li>
</ul>

<ul>
<li>Recall a moment from your appointment where you think your unconscious bias may have surfaced or perhaps prevented you from doing your best work.</li>
</ul>

<p>
  Then take the time to read some of your peers' responses too, and reply to at least two of them. Lend something productive and insightful to the conversation. (For example, talk about what you would've done differently in their position, or whether you're going to adapt something similar for your own lessons. Maybe ask them something about their appointment, etc.)
</p>

<h1 id="review">Review</h1>

<p>
  After each appointment this week which you plan to count toward your <a href="{{ url_for('render_policies') }}#tutoring">teaching requirement</a>, compose an email that includes the following points. Then send it to the student(s) who attended. Also include a copy of your email in a document called "Review {{ week.number }}" in your homework folder.
</p>

<ul><li>A recap of what you taught.</li></ul>
<ul><li>Some resources you think your student(s) would benefit from studying. (Please consider carefully which resources you send them. In particular, what level of understanding do you want to target, and regarding what topics?) If you will see the same student(s) again, ask them to read and complete the relevant resources before then.</li></ul>
<ul><li>A link to the feedback form: <a href="{{ TUTORING_FEEDBACK }}">{{ TUTORING_FEEDBACK }}</a>.</li></ul>

{% endblock %}
