{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="evaluating-your-own-performance">Evaluating your own performance</h1>
<p>This week, record yourself during one of your tutoring appointments / discussion sections. (Make sure your students are okay with it first. It may help to tell them that only you will see the video. Also, double check beforehand that your phone, computer, or video camera has enough battery and a good view of the whiteboard as well as the students.)</p>
<p>After your appointment, watch the entire recording and take notes. Then, in at least a page, reflect on your teaching. Here are some questions to help you think critically about your performance, but you don't have to answer them all:</p>
<ul>
<li>What did you notice while watching the video that you were unaware of while teaching? Was it good or bad?</li>
<li>What did you do really well? Did you explain a concept intuitively, for example? Or did you encourage group work in a particularly effective way? Or did you foster participation well?</li>
<li>Did you notice when the students were confused / attentive?</li>
<li>What was the biggest problem with your section? How could you fix it next time?</li>
<li>List some things you did better than you thought you did. Also list some things you did worse than you thought you did.</li>
<li>What can you be more aware of, in the moment, next time you're teaching?</li>
<li>What can you say about your board work? What was good about it? What was bad about it? Did the students find it clear and useful, or confusing?</li>
<li>Were the students ever disengaged? How could you improve on that?</li>
</ul>

{% if week.quiz %}
  <h1 id="quiz">Quiz</h1>
  <p>Complete <a href="{{ week.quiz }}">the short weekly quiz</a>.</p>
{% endif %}

{% endblock %}
