{% extends 'resource.html' %}

{% block resource_content %}

<ul>
<li>
<p><a href="https://medium.com/@BNonnecke/grit-brains-confidence-how-to-move-past-inferiority-complex-in-academia-cff4aec655d">An article on imposter syndrome, written by my past research advisor Brandie Nonnecke.</a></p>
</li>
<li>
<p><a href="http://www.slate.com/articles/technology/future_tense/2014/03/imposter_syndrome_how_the_president_of_harvey_mudd_college_copes.html">An article on imposter syndrome, written by president of Harvey Mudd College.</a></p>
</li>
<li>
<p><a href="https://en.wikipedia.org/wiki/Dunning–Kruger_effect">The Wikipedia article on the Dunning-Kruger effect.</a> Specifically, you may want to consider how it affects students coming to UC Berkeley with prior experience in computer programming.</p>
</li>
</ul>

{% endblock %}
