{% extends 'resource.html' %}

{% block resource_content %}

<p>
  Make a post in the #readings channel on Slack, discussing one of the following readings or responding to a post by one of your peers. You should lend something new and useful to the conversion. (For example you could explain how to apply something that you learned, or offer an argument for / against one of your peers' ideas. Any input is welcome, as long as it is original and respectful.)
</p>

<p>
  Also feel free to find a different article on your own, and respond to that instead of one of the readings. Just be sure to provide a link to it, so others can read it too.
</p>

<ul>
<li>
<p><a href="https://medium.com/@BNonnecke/grit-brains-confidence-how-to-move-past-inferiority-complex-in-academia-cff4aec655d">An article on imposter syndrome, written by my past research advisor Brandie Nonnecke.</a></p>
</li>
<li>
<p><a href="http://www.slate.com/articles/technology/future_tense/2014/03/imposter_syndrome_how_the_president_of_harvey_mudd_college_copes.html">An article on imposter syndrome, written by president of Harvey Mudd College.</a></p>
</li>
<li>
<p><a href="https://medium.com/blueprint/fighting-impostor-syndrome-as-a-cs-student-c43859062e1">An article about one UC Berkeley CS student's struggle with imposter syndrome.</a></p>
</li>
<li>
<p><a href="https://en.wikipedia.org/wiki/Dunning–Kruger_effect">The Wikipedia article on the Dunning-Kruger effect.</a> Specifically, you may want to consider how it affects students coming to UC Berkeley with prior experience in computer programming.</p>
</li>
<li>
<p><a href="https://en.wikipedia.org/wiki/Stereotype_threat">The Wikipedia article on stereotype threat.</a></p>
</li>
<li>
<p><a href="https://drive.google.com/file/d/1YVjaoKZAHOTDgnDUSsKWPj3-4RX-HaCk/view">A study about combatting stereotype threat by teaching it.</a></p>
</li>
</ul>

{% endblock %}
