{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="reflect-on-your-break-break">Reflect on your {{ BREAK }} break</h1>
<p>Hopefully you had a warm and enjoyable time. Tell us about the most exciting thing you did, in the #random channel on Slack!</p>
<h1 id="final-essay">Final essay</h1>
<p>Self-reflection is an important and necessary way to improve your teaching skills. In an essay, answer the following questions. It doesn't have to be anything formal; pretend it's just a longer entry in your weekly tutoring journal.</p>
<ul>
<li>About the course (2-3 paragraphs)<ul>
<li>What have you learned in this class? What questions did we strive to answer?</li>
<li>What are the main takeaways? What do you think is the most valuable thing you learned?</li>
<li>Review your past journals and homework. Do your best to capture what you personally learned.</li>
</ul>
</li>
<li>Reflection (3+ paragraphs)<ul>
<li>Was there anything that surprised you or changed your expectations of teaching / learning?</li>
<li>Did you become a better teacher? If so, how? If not, why not?</li>
<li>Use examples from your tutoring journals in this section!</li>
</ul>
</li>
<li>Concluding question (2+ paragraphs)<ul>
<li>What are some ways that students struggle with learning computer science? Explain as you would to a freshman with no prior experience who is considering CS as a major.</li>
</ul>
</li>
</ul>
<p>It should be 1.5 page minimum (12pt font, 1 inch margins, and single-spaced) but please do write more if you feel inclined!</p>
<p>We use this essay to assess what you have learned over the course of the semester and what we can improve for next time. Sometimes, when tutor / TA hiring rolls around, professors also ask us how you are as a teacher. In order to answer that question, one thing we might draw from is your final essay.</p>
<h1 id="final-project">Final project</h1>
<p>The final project consists of two parts: curriculum improvement, and a final review lesson plan. The quality of your submission may also factor into our willingness to provide staff recommendations.</p>
<h2 id="part-1-curriculum-improvement">Part 1: Curriculum improvement</h2>
<p>This part of the project is worth 50% of your project grade. Submit it in a document called "Curriculum Improvement" in your homework folder. <strong>Note that this part of the project will not be graded lightly.</strong></p>
<ul>
<li>First review the readings assigned throughout the semester. Find a teaching-related resource (e.g. reading, TED talk, etc.) available online, which has not already been assigned. It should be both useful and relevant to at least one of the topics we've covered this semester.<ul>
<li>Provide the title of the reading you found, and a link to it.</li>
<li>Summarize the reading in about a paragraph.</li>
<li>Explain in 1 to 2 paragraphs why you think this reading would be a useful addition to CS 370. Specifically, how would aspiring teachers benefit from reading it? What does it convey, that is not already covered in CS 370? How is it that reading your article will cause someone to teach better than they did before?</li>
</ul>
</li>
<li>Next think of a homework question that you think ought to be added to CS 370.<ul>
<li>Which topic in CS 370 does your question correspond to?</li>
<li>What is the homework question that you thought of?</li>
<li>Explain in 1 to 2 paragraphs why you think this homework question would be a useful addition to CS 370. Specifically, how would aspiring teachers benefit from doing it? What is the main takeaway from the problem? How is it that doing this homework problem will cause someone to teach better than they did before?</li>
</ul>
</li>
<li>Finally, think of a tutoring journal prompt that you think ought to be added to CS 370.<ul>
<li>Which topic in CS 370 does your journal prompt correspond to?</li>
<li>What is the journal prompt that you thought of?</li>
<li>Explain in 1 to 2 paragraphs why you think this journal prompt would be a useful addition to CS 370. Specifically, what do you hope aspiring teachers will discover, by reflecting on it? How is it that answering this journal prompt will cause someone to teach better than they did before?</li>
</ul>
</li>
</ul>
<h2 id="part-2-final-review-lesson-plan">Part 2: Final review lesson plan</h2>
<p>This part of the project is worth 50% of your project grade. Submit it in a document called "Lesson Plan" in your homework folder.</p>
<ul>
<li>Pick one topic from a CS class you're teaching. It can be  as broad or specific as you desire, within reason. (E.g. "recursion", "recursion on multiple parameters", or even "impure recursion on multiple parameters" are all equally fine.)</li>
<li>Make a 90-minute final review lesson plan for the topic you choose.<ul>
<li>Assume you're teaching to about  30 or 40 students. You can make up any other details you desire, within reason, so long as you are clear about the assumptions you're making.</li>
<li>Don't transcribe the perfect lesson word for word. Instead, just go over the main points and how you plan to explain them. Will you incorporate practice problems? If so, will it be in groups? What'll you do while the students are working? etc.</li>
<li>Keep in mind the level of familiarity your students have with the topic. Since it's meant to be a final review lesson plan, it probably won't be a good use of time to go over the basics. By now, your students probably have some experience with the topic you're teaching.</li>
<li>Make use of as many concepts from CS 370 as you can, to the advantage of your lesson plan. For example you may find it handy to employ group work, Bloom's taxonomy / concept mapping, etc. You should also keep in mind the various psychosocial factors at play, such as imposter syndrome and stereotype threat.</li>
</ul>
</li>
<li>Justify why you made your lesson plan as you did.<ul>
<li>Realistically, the justification for your lesson plan will end up being longer than the lesson plan itself.</li>
<li>You should explain the reasoning behind every big decision you made, like why you structured your lesson plan like you did, as well as the reasoning behind smaller decisions like which practice problems you're using. If you chose to use group work, why? What size are the groups, and why? Be as thorough as possible. Feel free to include scratch work, like a concept map if you used one.</li>
</ul>
</li>
</ul>
<h1 id="final-survey">Final survey</h1>
<p>Please fill out the <a href="{{ FINAL_SURVEY }}">final survey</a>. It is anonymous, so please be honest! We will use your feedback to improve future semesters of CS 370. I have thoroughly enjoyed my time with all of you wonderful teachers, and I hope to see you on future course staff!</p>

{% endblock %}
