{% extends 'base.html' %}

{% block content %}

# Final essay

Self-reflection is an important and necessary way to improve your teaching skills. In an essay, answer the following questions. It doesn't have to be anything formal; pretend it's just a longer entry in your weekly tutoring journal.

* About the course (2-3 paragraphs)
  * What have you learned in this class? What questions did we strive to answer?
  * What are the main takeaways? What do you think is the most valuable thing you learned?
  * Review your past journals and homework. Do your best to capture what you personally learned.
* Reflection (3+ paragraphs)
  * Was there anything that surprised you or changed your expectations of teaching / learning?
  * Did you become a better teacher? If so, how? If not, why not?
  * Use examples from your tutoring journals in this section!
* Concluding question (2+ paragraphs)
  * What are some ways that students struggle with learning computer science? Explain as you would to a freshman with no prior experience who is considering CS as a major.

It should be 1.5 page minimum (12pt font, 1 inch margins, and single-spaced) but please do write more if you feel inclined!

We use this essay to assess what you have learned over the course of the semester and what we can improve for next time. Sometimes, when tutor / TA hiring rolls around, professors ask us how you are as a teacher. In order to answer that question, one thing we might draw from is your final essay.

# Final survey

Please fill out the [final survey](link). It is anonymous, so please be honest! We will use your feedback to improve future semesters of CS 370. I have thoroughly enjoyed my time with all of you wonderful teachers, and I hope to see you on future course staff!

{% endblock %}
