{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="reflect-on-your-break-break">Reflect on your {{ BREAK }} break</h1>
<p>Hopefully you had a warm and enjoyable time. Tell us about the most exciting thing you did, in the #random channel on Slack!</p>
<h1 id="final-essay">Final essay</h1>
<p>Self-reflection is an important and necessary way to improve your teaching skills. In an essay, answer the following questions. It doesn't have to be anything formal; pretend it's just a longer entry in your weekly tutoring journal.</p>
<ul>
<li>About the course (2-3 paragraphs)<ul>
<li>What have you learned in this class? What questions did we strive to answer?</li>
<li>What are the main takeaways? What do you think is the most valuable thing you learned?</li>
<li>Review your past journals and homework. Do your best to capture what you personally learned.</li>
</ul>
</li>
<li>Reflection (3+ paragraphs)<ul>
<li>Was there anything that surprised you or changed your expectations of teaching / learning?</li>
<li>Did you become a better teacher? If so, how? If not, why not?</li>
<li>Use examples from your tutoring journals in this section!</li>
</ul>
</li>
<li>Concluding question (2+ paragraphs)<ul>
<li>What are some ways that students struggle with learning computer science? Explain as you would to a freshman with no prior experience who is considering CS as a major.</li>
</ul>
</li>
</ul>
<p>It should be 1.5 page minimum (12pt font, 1 inch margins, and single-spaced) but please do write more if you feel inclined!</p>
<p>We use this essay to assess what you have learned over the course of the semester and what we can improve for next time. Sometimes, when tutor / TA hiring rolls around, professors also ask us how you are as a teacher. In order to answer that question, one thing we might draw from is your final essay.</p>
<h1 id="final-survey">Final survey</h1>
<p>Please fill out the <a href="{{ FINAL_SURVEY }}">final survey</a>. It is anonymous, so please be honest! We will use your feedback to improve future semesters of CS 370. I have thoroughly enjoyed my time with all of you wonderful teachers, and I hope to see you on future course staff!</p>

{% if week.quiz %}
  <h1 id="quiz">Quiz</h1>
  <p>Complete <a href="{{ week.quiz }}">the short weekly quiz</a>.</p>
{% endif %}

{% endblock %}
