{% extends 'resource.html' %}

{% block resource_content %}

<p>
  By the end of this tutoring cycle, you should have completed about {{ TUTORING_HOURS_PER_WEEK_TA * week.number if SUNDAY_OF_BREAK_WEEK and week.date < SUNDAY_OF_BREAK_WEEK else TUTORING_HOURS_PER_WEEK_TA * (week.number - 1) }} hours of tutoring / CSM if you're a TA, or about {{ TUTORING_HOURS_PER_WEEK * week.number if SUNDAY_OF_BREAK_WEEK and week.date < SUNDAY_OF_BREAK_WEEK else TUTORING_HOURS_PER_WEEK * (week.number - 1) }} hours of tutoring / CSM if you're not a TA.
</p>

<h1 id="assignment">Assignment</h1>

<ul>
<li>This week, take some time before each appointment to design one or two practice problems of your own, on the topics that you'll be teaching. Consider what skill level your practice problems will target, as well as what core concept or edge case they will be meant to convey. Incorporate these problems into your lesson plan.</li>
</ul>

<h1 id="journal-prompt">Journal prompt</h1>

<p>
  After each appointment this week (discussion, group tutoring, or one-on-one tutoring) respond to the following prompts in the  #journal-{{ week.number }} channel on Slack.
</p>

<ul>
  <li>Briefly summarize the appointment. (For example: How do you feel about it? Do you think the student was following? What signs let you pick up on this? What could you have done better? etc.)</li>
</ul>

<ul>
<li>
<p>Summarize the practice problem(s) you designed for this appointment. What were they meant to convey? Did they work out as intended? Were they useful to your lesson? Provide specific examples. What was the student's thought process while solving your question(s)? How would you improve your practice problem(s) for future use?</p>
</li>
<li>
<p>Reflect on the progress you've made since the beginning of the course. What aspect of your teaching have you improved upon most? Try to list an example or two. What skills do you want to improve on more? Have you changed the way you structure your sections, or have you come to have a favorite technique?</p>
</li>
<li>
<p>What's your favorite teaching moment of the semester? (For example, are you really happy with a particular explanation? Or did a student say something that just made your day?)</p>
</li>
</ul>

<p>
  Then take the time to read some of your peers' responses too, and reply to at least two of them. Lend something productive and insightful to the conversation. (For example, talk about what you would've done differently in their position, or whether you're going to adapt something similar for your own lessons. Maybe ask them something about their appointment, etc.)
</p>

<h1 id="review">Review</h1>

<p>
  After each appointment this week which you plan to count toward your <a href="{{ url_for('render_policies') }}#tutoring">teaching requirement</a>, compose an email that includes the following points. Then send it to the student(s) who attended. Also include a copy of your email in a document called "Review {{ week.number }}" in your homework folder.
</p>

<ul><li>A recap of what you taught.</li></ul>
<ul><li>Some resources you think your student(s) would benefit from studying. (Please consider carefully which resources you send them. In particular, what level of understanding do you want to target, and regarding what topics?) If you will see the same student(s) again, ask them to read and complete the relevant resources before then.</li></ul>
<ul><li>A link to the feedback form: <a href="{{ TUTORING_FEEDBACK }}">{{ TUTORING_FEEDBACK }}</a>.</li></ul>

{% endblock %}
