{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="overloaded-cs-terms">Overloaded CS terms</h1>
<p>Teaching can be difficult when there are words that you use without explaining their definition. Worse, there are lots of words that have a different meaning outside of CS, which confuse the student you're working with because they might not know the word also has a CS-related definition. Your task is to find one such word that might be confusing to students in a CS class you've taken. Explain the outside context and also the CS context in the #overloaded-terms channel on Slack. Don't post duplicates!</p>
<p>Here are some examples:</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Positive_feedback">Positive Feedback</a>. In control theory (introduced in EE 20), this term refers to a system that is growing out of control, quite like microphone feedback. Outside of CS, "positive feedback" usually means that you are being complimented in some way.</li>
<li><a href="https://en.wikipedia.org/wiki/Mathematical_induction">Induction</a>. In CS theory (introduced in CS 70), induction is a mathematical proof technique where you prove something recursively. In physics, it has to do with forces created via magnets. In cooking, we have induction stovetops!</li>
</ul>
<h1 id="identifying-a-misconception">Identifying a misconception</h1>
<p>While you're teaching this week (whether that is lab assisting, tutoring, or holding office hours), identify a student who has a misconception. (Not every student looking for help has a misconception, but you're bound to find one within a few tries. This goes especially for those of you teaching CS 61A, because recursion and HOFs are the two most misunderstood topics in the class.) What was their misconception? How did you identify that they had it? In detail, how did you rectify it? (For instance, did you use an adversarial example? What questions did you ask? That sort of thing.)</p>
<h1 id="correcting-a-misconception">Correcting a misconception</h1>
<p>Think back to a time when you had a misconception in the class you're teaching now. What caused you to develop this misconception? How did you resolve it? Did someone explain it to you, and if so, do you remember their explanation? Did you see a counterexample that proved your misconception false? Or did you perhaps stumble upon the correct approach some other way? Answer these questions in your homework submission. Then write about how you would use the techniques covered in class to help a student of yours now, if they had the same misconception you described.</p>

{% if week.quiz %}
  <h1 id="quiz">Quiz</h1>
  <p>Complete <a href="{{ week.quiz }}">the short weekly quiz</a>.</p>
{% endif %}

{% endblock %}

