{% extends 'resource.html' %}

{% block resource_content %}

<ul>
<li>
<p><a href="https://www.youtube.com/watch?v=eVtCO84MDj8">A Veritasium video on using confusion to correct misconceptions.</a></p>
</li>
<li>
<p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3433289/">An exploration of some biological grounds for misconceptions.</a></p>
</li>
<li>
<p><a href="https://pdfs.semanticscholar.org/e0d8/b99179ca3a63db77c9980ad3be119093164a.pdf">A Georgia Southern University paper on using discrepant teaching events to correct misconceptions.</a></p>
</li>
<li>
<p><a href="https://uminntilt.com/2014/04/16/check-those-blind-spots-before-teaching/">The University of Minnesota's guide to dealing with expert blindness.</a></p>
</li>
<li>
<p><a href="http://pact.cs.cmu.edu/pubs/2001_NathanEtAl_ICCS_EBS.pdf">A research paper on expert blindness, from the Universities of Colorado, Carnegie Mellon, and Wisconsin-Madison.</a></p>
</li>
</ul>

{% endblock %}
