{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="practicing-the-socratic-method">Practicing the Socratic method</h1>
<p>While you're teaching this week (lab assisting, tutoring, or during office hours), help at least one student by asking questions only. Write down the questions and responses, as in last week's reading. (It may help to record the session and then transcribe it, so you don't impede your own teaching.) It doesn't have to be a long interaction, but hopefully it is one that you learn from.</p>
<p>Document the interaction in the #practicing-socratic channel on Slack. Conclude the post with a short paragraph outlining your thoughts about the interaction. Please read some other folks' posts as well; the goal is to gain experience, but also to see how others apply the Socratic method. You might pick up a useful tip or two.</p>
<p>See <a href="https://docs.google.com/document/d/1JnQT68u2XOBtddCmaxvVsmns9pzbJBDibE_cOxv_-18/edit?usp=sharing">here</a> for an example, from way back when I was a lab assistant.</p>
<h1 id="concept-mapping-a-midterm-problem">Concept mapping a midterm problem</h1>
<p>Search through past midterms / finals for a difficult problem that a student might ask you about during the upcoming week. Draw a concept map for the topics relevant to solving that problem. For each topic that you identify, discuss how it is related to the problem, and what questions you could ask in order to check whether a student knows how to apply the topic in the context of the problem.</p>
<h1 id="classification-according-to-blooms-taxonomy">Classification according to Bloom's taxonomy</h1>
<p>Bloom's taxonomy is one of the most widely-known models of learning. It divides cognitive processes into six distinct levels:</p>
<ul>
<li><strong>Remember:</strong> To rotely memorize information. <em>Example: Listing Python's primitive types.</em></li>
<li><strong>Understand:</strong> To grasp a concept well enough that you can say it in your own words. <em>Example: Explaining how recursion works on a high level.</em></li>
<li><strong>Apply:</strong> To solve a new problem using information and strategies you've been taught. <em>Example: Writing a recursive solution to <code>fibonacci(n)</code>, when you've already learned what recursion is and seen an example like <code>factorial(n)</code>.</em></li>
<li><strong>Analyze:</strong> To break down information into constituent parts, identify structure, or contrast two bodies of information. <em>Example: Determine the base case in a mutually recursive function call, without carrying out the whole evaluation process.</em></li>
<li><strong>Evaluate:</strong> To analyze a body of information, and then make a judgement call about it. <em>Example: To claim whether a solution to a problem has a "good" asymptotic running time, and justify your answer.</em></li>
<li><strong>Create:</strong> To evaluate a body of information, and then improve upon it. <em>Example: To improve the asymptotic running time of a function.</em></li>
</ul>
<p>Note that a problem may appear at different levels of the taxonomy for different students. Consider the two scenarios below.</p>
<ol>
<li>A student has never learned asymptotic analysis. You ask them how many times the recursive <code>fibonacci</code> function will get invoked when you make the function call <code>fibonacci(n)</code>. The student will have to <strong>analyze</strong> the <code>fibonacci</code> function to determine the underlying structure of function calls.</li>
<li>A student has had significant experience with asymptotic analysis, and has seen many examples of recursive functions that grow exponentially. You ask them how many times the recursive <code>fibonacci</code> function will get invoked when you make the function call <code>fibonacci(n)</code>. The student will have to <strong>apply</strong> a procedure they're already familiar with.</li>
</ol>
<p>Also keep in mind that problems high on the taxonomy are not necessarily hard, and problems low on the taxonomy are not necessarily easy. This is just a way of classifying problems. Both easy and hard ones can occur at any level.</p>
<p>For each level of Bloom's taxonomy, provide an example from a computer science class you teach. Also specify the student's prior knowledge base and why it's important. Justify all your answers in a few setences.</p>
<h1 id="analyzing-a-problem-with-blooms-taxonomy">Analyzing a problem with Bloom's taxonomy</h1>
<p>In 2001 (the year, not the space odyssey), Bloom's taxonomy was revised to include another axis measuring the level of abstraction of the task at hand. These resources will explain how it works:</p>
<ul>
<li><a href="http://www.celt.iastate.edu/wp-content/uploads/2015/09/RevisedBloomsHandout-1.pdf">Iowa State's model of Bloom's revised taxonomy</a></li>
<li><a href="http://www.celt.iastate.edu/teaching/effective-teaching-practices/revised-blooms-taxonomy/blooms-revised-taxonomy-model">Iowa State's associated explanation of Bloom's revised taxonomy</a></li>
</ul>
<p>First pick a difficult problem from the class that you teach. You may refer to past discussions, past midterms, guerilla section worksheets, etc. In your homework submission please include a link to the question that you chose, and additionally copy / paste it for ease of reference.</p>
<p>For the question you selected, describe the necessary steps to solve it. Be as explicit as possible. Each step should be designed to gently guide a student toward the solution, rather than simply explaining the solution yourself. Look out for common questions or misconceptions that students might have regarding the question. Then, for each step of the solution, identify where it falls on the Bloom's revised taxonomy. Justify why you think your classification is correct. Here are some good examples from past iterations of this assignment:</p>
<ul>
<li><a href="https://docs.google.com/document/d/1JmBzA8qTsLp0iX0-6X6L_CJIuQmAqfX3t6SOWq_SbCg/edit?usp=sharing">Example 1</a></li>
<li><a href="https://docs.google.com/document/d/1R_uXY24GkAR4EswJaJFk7ffmKG3SepfXGs6eWWAitZs/edit?usp=sharing">Example 2</a></li>
<li><a href="https://docs.google.com/document/d/1dIQ0feab7_5Lc8-ALGK0yuSJjwtNYA_uwOHWAw1usAI/edit?usp=sharing">Example 3</a></li>
</ul>
<p>You shouldn't make yours exactly like these, but hopefully they give you an idea of what we expect.</p>

{% endblock %}

