{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="practicing-the-socratic-method">Practicing the Socratic method</h1>
<p>While you're teaching this week (lab assisting, tutoring, or during office hours), help at least one student by asking questions only. Write down the questions and responses, as in last week's reading. (It may help to record the session and then transcribe it, so you don't impede your own teaching.) It doesn't have to be a long interaction, but hopefully it is one that you learn from.</p>
<p>Document the interaction in the #practicing-socratic channel on Slack. Conclude the post with a short paragraph outlining your thoughts about the interaction. Please read some other folks' posts as well; the goal is to gain experience, but also to see how others apply the Socratic method. You might pick up a useful tip or two.</p>
<p>See <a href="https://docs.google.com/document/d/1JnQT68u2XOBtddCmaxvVsmns9pzbJBDibE_cOxv_-18/edit?usp=sharing">here</a> for an example, from way back when I was a lab assistant.</p>
<h1 id="classification-according-to-blooms-taxonomy">Classification according to Bloom's taxonomy</h1>
<p>Bloom's taxonomy is one of the most widely-known models of learning. We'll focus on a revised version from 2001 (the year, not the space odyssey). Read these two articles for a in-depth explanation of how it works:</p>
<ul>
<li><a href="https://cft.vanderbilt.edu/guides-sub-pages/blooms-taxonomy/">Bloom’s Taxonomy from Vanderbilt</a></li>
<li><a href="http://www.celt.iastate.edu/teaching/effective-teaching-practices/revised-blooms-taxonomy">Revised Bloom’s Taxonomy from Iowa State</a></li>
</ul>
<p>Now choose a lower-division CS course. Recall the exams you took in the class that you chose. Write down all the different types of questions that appeared on the exams, and classify them according to the revised taxonomy. Justify why you think your classification is correct. Remember, each question type very likely covers several levels of the taxonomy. What levels, and under what circumstances?</p>
<h1 id="a-detailed-application-of-blooms-taxonomy">A detailed application of Bloom's taxonomy</h1>
<p>In this assignment, we'll focus on the knowledge dimension of the revised Bloom's taxonomy, which turns the pyramid model into a 2-dimensional Q*bert-esque shape. You should refer to the second reading above in order to complete this assignment.</p>
<p>First pick a difficult problem from the class that you teach. You may refer to past discussions, past midterms, guerilla section worksheets, etc. In your homework submission please include a link to the question that you chose, and additionally copy / paste it for ease of reference. For that question, describe the necessary steps to solve it. Be as explicit as possible. Each step should be designed to gently guide a student toward the solution, rather than simply explaining the solution yourself. Look out for common questions or misconceptions that students might have regarding the question. Then, for each step of the solution, identify where it falls on the new 2-D revision of Bloom's taxonomy. Justify why you think your classification is correct. Here are some good examples from past iterations of this assignment. You don't have to make yours exactly like these, but hopefully they give you an idea of what we expect:</p>
<ul>
<li><a href="https://docs.google.com/document/d/1JmBzA8qTsLp0iX0-6X6L_CJIuQmAqfX3t6SOWq_SbCg/edit?usp=sharing">Example 1</a></li>
<li><a href="https://docs.google.com/document/d/1R_uXY24GkAR4EswJaJFk7ffmKG3SepfXGs6eWWAitZs/edit?usp=sharing">Example 2</a></li>
<li><a href="https://docs.google.com/document/d/1dIQ0feab7_5Lc8-ALGK0yuSJjwtNYA_uwOHWAw1usAI/edit?usp=sharing">Example 3</a></li>
</ul>

{% if week.resources['readings'] %}
  <h1 id="respond-to-the-readings">Respond to the readings</h1>
  <p>
    Make a post in the #readings channel on Slack, discussing one of <a href="{{ url_for(week.resources['readings']) }}">this week's readings</a> or responding to a post by one of your peers. You should lend something new and useful to the conversion. (For example you could explain how to apply something that you learned, or offer an argument for / against one of your peers' ideas. Any input is welcome, as long as it is original and respectful.)
  </p>
  <p>
    Also feel free to find a different article on your own, and respond to that instead of one of the readings. Just be sure to provide a link to it, so others can read it too.
  </p>
{% endif %}

{% endblock %}

