{% extends 'resource.html' %}

{% block resource_content %}

<p>
  By the end of this tutoring cycle, you should have completed about {{ TUTORING_HOURS_PER_WEEK_TA * week.index if SUNDAY_OF_BREAK_WEEK and week.date < SUNDAY_OF_BREAK_WEEK else TUTORING_HOURS_PER_WEEK_TA * (week.index - 1) }} hours of tutoring / CSM if you're a TA, or about {{ TUTORING_HOURS_PER_WEEK * week.index if SUNDAY_OF_BREAK_WEEK and week.date < SUNDAY_OF_BREAK_WEEK else TUTORING_HOURS_PER_WEEK * (week.index - 1) }} hours of tutoring / CSM if you're not a TA.
</p>

<p>
  Here's the tutoring sign-up form for this week: <a href="{{ week.signup }}">{{ week.signup }}</a>.
</p>

<h1 id="assignment">Assignment</h1>

<ul>
<li>
<p>If you intend to schedule tutoring via CS 370 itself using the link above, here's how:</p>
<ul>
<li>Write your name in the "Tutor" column at the left.</li>
<li>Email the student to set up a time and place. <a href="{{ SAMPLE_EMAIL }}">Here's an example.</a></li>
<li>Update the "Time &amp; Place" column, as well as the "Status" column. Keep these columns up-to-date.</li>
<li>You may want to book a room in Soda, Cory, Moffitt, Kresge, etc.</li>
<li>If the student doesn't reply within 24 hours, email someone else! We have a lot of demand, and can't afford to wait for a response that'll never come. If  they do reply later feel free to take the appointment, but you're under no obligation.</li>
<li>After the appointment, update the "Status" column on the spreadsheet.</li>
</ul>
</li>
<li>
<p>One of the most important takeaways from this class is that lesson plans are not only useful, but also necessary. Good teaching does not happen off-the-cuff. Before your appointments this week (and for that matter, all your appointments ever) make a lesson plan for the material you plan to cover.</p>
<ul>
<li>It doesn't (and shouldn't) be verbatim what you plan to say. Rather, it should serve as a reminder for what points you want to talk about. For a 1.5-hour appointment, a hand-written lesson plan usually comes out to 2 or 3 pages for me.</li>
<li>Come up with some material that you will cover if you finish early. The worst possibility is that you're sitting in front of your student(s), and you have no idea what to talk about. Please please please don't ever find yourself in a situation where you're Googling problems to talk about, during the actual tutoring appointment.</li>
<li>Prepare a wide variety of problems. You want to be prepared to teach basics, as well as advanced stuff. (Typically strive for two questions on fundamentals, two intermediate-level questions, and one or two advanced ones.)</li>
<li>That said, tutoring isn't all about the problems you cover. Also think about how you're going to explain things.</li>
</ul>
</li>
<li>
<p>Use the Socratic method at least a little bit in each of your appointments this week. Consider preparing some questions beforehand.</p>
</li>
</ul>

<h1 id="journal-prompt">Journal prompt</h1>

<p>
  Respond to the prompts below, immediately after each of your appointments this week (discussion, group tutoring, or one-on-one tutoring). When you finish your last appointment, copy and paste your journal entry onto bCourses.
</p>

<ul>
  <li>Briefly summarize the appointment. (For example: How do you feel about it? Do you think the student was following? What signs let you pick up on this? What could you have done better? etc.)</li>
</ul>

<ul>
<li>
<p>How did you go about making lesson plans for your tutoring appointments this week? Did you review any specific resources? How did you organize the topics and questions in an intuitive fashion? Do you think it paid off during your appointment? Provide specific examples.</p>
</li>
<li>
<p>What was your experience using the Socratic method? When was it particularly effective or ineffective? Why? Do you think it was beneficial for the student? What would you change about your usage of the Socratic method next time?</p>
</li>
</ul>

<p>
  Then take the time to read some of your peers' responses too, and reply to at least two of them. Lend something productive and insightful to the conversation. (For example, talk about what you would've done differently in their position, or whether you're going to adapt something similar for your own lessons. Maybe ask them something about their appointment, etc.)
</p>

<h1 id="review">Review</h1>

<p>
  After each appointment this week which you plan to count toward your <a href="{{ url_for('render_policies') }}#tutoring">teaching requirement</a>, compose an email that includes the following points. Then send it to the student(s) who attended. Also include a copy of your email in a document called "Review {{ week.number }}" in your homework folder.
</p>

<ul><li>A recap of what you taught.</li></ul>
<ul><li>Some resources you think your student(s) would benefit from studying. (Please consider carefully which resources you send them. In particular, what level of understanding do you want to target, and regarding what topics?) If you will see the same student(s) again, ask them to read and complete the relevant resources before then.</li></ul>
<ul><li>A link to the feedback form: <a href="{{ TUTORING_FEEDBACK }}">{{ TUTORING_FEEDBACK }}</a>.</li></ul>

{% endblock %}
