{% extends 'resource.html' %}

{% block resource_content %}

<h1 id="exploring-the-role-of-memorization-in-learning">Exploring the role of memorization in learning</h1>
<p>Read <a href="https://www.quora.com/Do-grad-school-students-remember-everything-they-were-taught-in-college-all-the-time/answer/Mark-Eichenlaub?srid=xAq&amp;share=1">this Quora post written by Mark Eichenlaub</a> and make a two page outline of the topics discussed. It is long, so please put aside some time to read this. Some students in the past have read it in chunks.</p>
<p>After you finish your outline post a followup to the article in the #memory channel on Slack, and / or a thoughtful response to someone else's followup! There's a lot of insightful material in this reading for you to talk about.</p>

{% endblock %}
