{% extends 'resource.html' %}

{% block resource_content %}

<p>
  By the end of this tutoring cycle, you should have completed about {{ TUTORING_HOURS_PER_WEEK_TA * week.index if SUNDAY_OF_BREAK_WEEK and week.date < SUNDAY_OF_BREAK_WEEK else TUTORING_HOURS_PER_WEEK_TA * (week.index - 1) }} hours of tutoring / CSM if you're a TA, or about {{ TUTORING_HOURS_PER_WEEK * week.index if SUNDAY_OF_BREAK_WEEK and week.date < SUNDAY_OF_BREAK_WEEK else TUTORING_HOURS_PER_WEEK * (week.index - 1) }} hours of tutoring / CSM if you're not a TA.
</p>



<h1 id="journal-prompt">Journal prompt</h1>

<p>
  After each appointment this week (discussion, group tutoring, or one-on-one tutoring) respond to the following prompts in the  #journal-{{ week.number }} channel on Slack.
</p>

<ul>
  <li>Briefly summarize the appointment. (For example: How do you feel about it? Do you think the student was following? What signs let you pick up on this? What could you have done better? etc.)</li>
</ul>

<ul>
<li>
<p>Consider how you phrased your interactions, and in particular your praise, during this appointment. How did you try to promote a growth mindset with your words? In light of learning about the growth mindset, did you notice yourself change the way you speak to your students?</p>
</li>
<li>
<p>Think about a time during this semester when you interacted with a student who had a fixed mindset. What clues gave you the impression they had a fixed mindset? How did you deal with it? How would you deal with it differently in the future? Sometimes students are frustrated with a particular question and it is evident their fixed mindset is part of that frustration. Do you think it's more important to help them solve the problem they're stuck on, or to help them get into a growth mindset? Why?</p>
</li>
</ul>

<p>
  Then take the time to read some of your peers' responses too, and reply to at least two of them. Lend something productive and insightful to the conversation. (For example, talk about what you would've done differently in their position, or whether you're going to adapt something similar for your own lessons. Maybe ask them something about their appointment, etc.)
</p>

<h1 id="review">Review</h1>

<p>
  After each appointment this week which you plan to count toward your <a href="{{ url_for('render_policies') }}#tutoring">teaching requirement</a>, compose an email that includes the following points. Then send it to the student(s) who attended. Also include a copy of your email in a document called "Review {{ week.number }}" in your homework folder.
</p>

<ul><li>A recap of what you taught.</li></ul>
<ul><li>Some resources you think your student(s) would benefit from studying. (Please consider carefully which resources you send them. In particular, what level of understanding do you want to target, and regarding what topics?) If you will see the same student(s) again, ask them to read and complete the relevant resources before then.</li></ul>
<ul><li>A link to the feedback form: <a href="{{ TUTORING_FEEDBACK }}">{{ TUTORING_FEEDBACK }}</a>.</li></ul>

{% endblock %}
